<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.kpaas.mapper.ICaseMapper">

    <!-- 기준 계약서 텍스트 -->
    <select id="getContractTextById" parameterType="string" resultType="string">
        SELECT ocr_text
        FROM contracts
        WHERE contract_id = CAST(#{contractId} AS SIGNED)
    </select>

    <!-- 다른 계약서 목록 (자기 자신 제외) -->
    <select id="getOtherContracts" parameterType="string" resultType="ContractDTO">
        SELECT contract_id,
               country_id,
               ocr_text,
               created_at,
               user_id,
               original_file_url

        FROM contracts
        WHERE contract_id != CAST(#{contractId} AS SIGNED)
    </select>

</mapper>



