<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.kpaas.mapper.UserMapper">

    <!-- 사용자 프로필 조회 (userId 기반) -->
    <select id="getLogin" parameterType="UserDTO" resultType="UserDTO">
        SELECT user_id, name, email, password
        FROM users
        WHERE email = #{email}
          AND password = #{password}
    </select>

    <!-- 프로필 조회 -->
    <select id="getUserProfile" parameterType="UserDTO" resultType="UserDTO">
        SELECT user_id, name, email, nickname, tel, birth_date, is_foreigner, created_at
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 이메일 기반 조회 -->
    <select id="getUserByEmail" parameterType="UserDTO" resultType="UserDTO">
        SELECT user_id, name, email, nickname, password, birth_date, is_foreigner, tel, created_at
        FROM users
        WHERE email = #{email}
            LIMIT 1
    </select>

    <!-- 회원 탈퇴 -->
    <delete id="deleteUser" parameterType="UserDTO">
        DELETE FROM users
        WHERE user_id = #{userId}
    </delete>

    <!-- 이메일 기준 비밀번호 업데이트 -->
    <update id="updatePasswordByEmail" parameterType="UserDTO">
        UPDATE users
        SET password = #{password}
        WHERE email = #{email}
    </update>

    <!-- 이름 + 전화번호 조회 -->
    <select id="getUserByNameAndPhone" parameterType="UserDTO" resultType="UserDTO">
        SELECT user_id, name, email, tel
        FROM users
        WHERE name = #{name}
          AND REPLACE(tel, '-', '') = REPLACE(#{tel}, '-', '')
            LIMIT 1
    </select>

    <!-- 휴대폰 번호로 조회 -->
    <select id="getUserByPhone" parameterType="UserDTO" resultType="UserDTO">
        SELECT user_id, name, email, nickname, password, birth_date, is_foreigner, tel
        FROM users
        WHERE REPLACE(tel, '-', '') = REPLACE(#{tel}, '-', '')
            LIMIT 1
    </select>
</mapper>
